* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: "Gill Sans", sans-serif;    text-align: center;
    margin: 0; /* Margin sıfırlanarak kenarlarda boşluk bırakılmaz */
    background-image: url(images/DALL·E\ 2024-12-08\ 16.00.33\ -\ A\ futuristic\ and\ artistic\ representation\ of\ artificial\ intelligence\ playing\ a\ Rock-Paper-Scissors\ game.\ The\ scene\ features\ a\ humanoid\ AI\ robot\ with\ sl.webp);
    background-size: cover; /* Görseli tüm ekrana kaplamak için */
    background-position: center; /* Görselin ortalanması için */
    background-repeat: no-repeat; /* Görselin tekrar etmemesi için */
    height: 100vh; /* Görseli tam ekran yüksekliğine yaymak için */
    width: 100vw; /* Görseli tam ekran genişliğine yaymak için */
}

button {
    font-family: "Gill Sans", sans-serif;    text-align: center;
    color: rgba(255, 255, 255, 0.889);
    width: 100px;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #00000040; 
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.8), 
    5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;  
}

h1 {
    color: #eae6df79;
   /* Yazının rengi (dolu kısmı) */
    -webkit-text-stroke: 1px black; /* Yazı kenarlığı */
}

section {
    background-image: url(images/istockphoto-911910816-612x612.jpg);
    background-size: cover;
            display: flex;
    justify-content: center; /* Yatayda merkeze alır */
    align-items: center;    /* Dikeyde merkeze alır */
    padding: 40px;
    background-color: grey;
    position: fixed;        /* Section'ı sabitler */
    bottom: 30px;              /* Alt kenara hizalar */
    left: 50%;              /* Yatayda ortalamak için başlangıç noktası */
    transform: translateX(-50%); /* Yatayda tam merkezler */
    width: 70%;            /* İsteğe bağlı: tam genişlik */
    border-radius: 10px;
}
